@import "global.css";
#ovrwHdr {
    background-color: rgb(0, 14, 20);
    font-weight: bold;
    font-size: x-large;
    padding: 5px;
}
#overview {
    grid-area: overview;
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-top: 1px solid grey;
}
#ovrwItm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    border-bottom: 1px solid grey;
    height: 20vh;
}
#ovrwItm:hover {
    background-image: linear-gradient(to left, #202324, #2f3535, #3d4545, #2f3535, #202324);
    cursor: pointer;
}
#ovrwItmFlg {
    width: 12%;
    height: auto;
    border: 2px solid black;
    object-fit: contain;
}
#ovrwItmTxt {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 88%;
    margin-bottom: 5px;
}
#ovrwItmHdTx {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
}
#ovrwItmDsc {
    display: none;
    margin-right: 10px;
    text-align: justify;
    text-justify: inter-word;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#ovrwItmDsc::-webkit-scrollbar {
    display: none;
}
#ovrwItmNm {
    font-weight: bold;
    margin-right: 10px;
}
#ovrwItmDtls {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 10px;
    font-weight: normal;
    padding-bottom: 15px;
}
#ovrwitmCst {
    text-align: end;
    font-weight: bold;
}
#cntFtr {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    background-color: rgb(0, 14, 20);
}
#componentCst {
    font-size: x-large;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
#clrOvrw {
    top: 0;
}
p {
    width: fit-content;
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: justify;
    text-justify: inter-word;
    font-size: large;
}
#cmpSlc {
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #202324;
    width: 70%;
    height: 80%;
    display: none;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
}
#cmpSlcHdr {
    width: 100%;
    height: 10%;
    text-align: center;
    background-color: rgb(0, 14, 20);
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    overflow-y: hidden;
}
#cmpSlcTxt {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    align-content: center;
    overflow: hidden;
    margin-left: 5px;
    width: available;
}
#cmpSlcNm {
    text-align: center;
    font-weight: bold;
    margin-right: 5px;
}
#cmpSlcCur {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#cmpSlcMn {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
}
#cmpSlcPic {
    width: 20%;
    object-fit: contain;
}
#cmpSlcDsc {
    width: 80%;
    overflow-y: scroll;
    text-align: justify;
    text-justify: inter-word;
    padding-right: 5px;
    margin: 5px;
}
#cmpSlcCnt {
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#cmpSlcBar {
    background-image: linear-gradient(to left, #292e2e, darkslategrey, #292e2e);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
#cmpSlcSrch {
    resize: none;
    background: darkslategrey;
    color: white;
    font-family: 'Lato', sans-serif;
    margin-left: 5px;
}
#cmpSlcLst {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
#cmpSlcItm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    margin: 5px;
}
#cmpSlcItm:hover {
    background-image: linear-gradient(to left, #202324, #333a3a, #3d4545, #333a3a, #202324);
    cursor: pointer;
}
#cmpSlcItm:active {
    background-color: yellow;
}
#cmpSlcItmImg {
    width: 25px;
    height: 25px;
}
#cmpSlcItmNm {
    font-weight: normal;
}
#cmpSlcItmCst {
    font-weight: bold;
}
#cmpSlcFtr {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 14, 20);
    height: 10%;
    overflow-y: hidden;
}
@media only screen and (min-width: 1500px) {
    #componentCst {
        font-size: 2vh;
    }
}
@media only screen and (max-width: 950px) {
    #ovrwHdr, #componentCst {
        font-size: medium;
    }
    #ovrwItm {
        height: 15vh;
        font-size: smaller;
    }
    #ovrwItmFlg {
        width: 8%;
        height: fit-content;
        align-self: center;
    }
    #ovrwItmTxt {
        width: 92%;
    }
    #ovrwItmDsc {
        height: 0;
    }
    #cmpSlc {
        top: 1%;
        bottom: 1%;
        left: 5%;
        right: 5%;
        width: 90%;
        height: 90%;
        margin: 1%;
        transform: translate(0, 0);
    }
    #cmpsl button {
        font-size: smaller;
    }
    #cmpSlcCur {
        font-size: smaller;
    }
    #cmpSlcDsc {
        font-size: medium;
    }
}
@media only screen and (max-width: 600px) {
    #ovrwItm {
        height: fit-content;
    }
    #ovrwItmHdTx {
        height: 50%;
    }
    #ovrwItmDtls {
        height: 50%;
    }
    #cmpSlc {
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
    }
    #cmpSlcDsc {
        font-size: smaller;
    }
    #cmpsl button {
        font-size: small;
    }
}