@import "global.css";
#wrp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#content {
    margin: 10px;
    height: 50%;
}
#mnTx {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: large;
    margin: 10px;
    text-justify: inter-word;
    text-align: justify;
}
#cntHdr {
    background-color: rgb(0, 14, 20);
    width: 100%;
    padding: 5px;
    font-weight: bold;
    font-size: large;
}
#crds {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.crd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.ico {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 1px solid grey;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19), 0 -2.5px 5px rgba(0, 0, 0, 0.2);
}
.ico:hover {
    border: 1px solid rgb(0, 14, 20);
    background-color: seagreen;
}
.txt {
    margin-top: 10px;
    font-weight: bold;
}
#cntFtr {
    background-color: rgb(0, 14, 20);
    width: 100%;
    padding: 5px;
}
#cntFtrTxt {
    visibility: hidden;
    font-weight: bold;
    font-size: large;
    margin: 10px;
}
@media only screen and (min-width: 1500px) {
    #cntHdr > span {
        font-size: 4vh;
    }
    #mnTx {
        font-size: 3vh;
    }
    .txt {
        font-size: 3vh;
    }
    #cntFtrTxt {
        font-size: 4vh;
    }
}
@media only screen and (max-width: 600px) {
    #crds {
        flex-direction: column;
    }
    #cntHdr > span {
        font-size: medium;
    }
    #mnTx {
        font-size: medium;
    }
    .txt {
        font-size: medium;
    }
}